/*
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
COMMON
*/
ul {
  list-style-type: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.btn {
  border-style: none;
  padding: 5px 10px;
  background-color: #ffffff;
  margin-left: -20px;
}

.btn-2 {
  background-color: #0061ff;
  color: white;
}
/*
HEADER-TOP
*/
.conteiner-top {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.list-left,
.list-right {
  display: flex;
  padding: 25px 20px;
}

.list-left li {
  padding-right: 40px;
}

.list-right li {
  padding-left: 30px;
}

/*
HEADER-BOTTOM
*/
#bottom {
  height: 630px;
  background-color: #b4d0e7;
}

.conteiner-bottom {
  max-width: 1180px;
  margin: 0 auto;
}

.conteiner-bottom h1 {
  margin: 0 auto;
  padding: 50px;
  font-size: 70px;
  text-align: center;
}

.conteiner-box {
  display: flex;
}

.box-left {
  width: 30%;
  margin-left: 150px;
}

.box-right {
  width: 70%;
}

.box-right img {
  width: 100%;
}

.box-left button {
  margin-left: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-left #annulla {
  padding-bottom: 50px;
}

.box-left span {
  font-size: 40px;
}

/*
MAIN
*/

/*SEZIONE-1*/
.main-top {
  max-width: 1000px;
  margin: 130px auto;
}

.main-box {
  display: flex;
  justify-content: space-around;
}

.main-top .top-h2 {
  text-align: left;
  margin-bottom: 50px;
  font-size: 30px;
  padding-left: 80px;
}

.main-top .sp {
  padding: 0px 20px;
  margin-left: 60px;
}

.article-1,
.article-2,
.article-3 {
  width: 30%;
  border: 1px dashed #d0d0d3;
  margin-top: 50px;
}

.icona-user {
  text-align: center;
  padding-top: 10px;
}

.icona-user i {
  padding-right: 2px;
}

hr {
  margin-top: 10px;
  background-color: #d0d0d3;
  opacity: 0.5;
}

.box-tariffa {
  padding: 30px 30px;
}

.btn-box {
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.span-link {
  padding-bottom: 40px;
}

.article-4 {
  display: flex;
  width: 970px;
  margin: 0 auto;
  border: 1px dashed #d0d0d3;
}

.box-bottom {
  padding: 20px 20px;
}

.bottom {
  width: 970px;
  border: 1px dashed #d0d0d3;
  text-align: center;
  margin-left: 15px;
  margin-top: 20px;
}

/*SEZIONE-2*/
